body
{
    padding: 0;
    margin: 7em;
    margin-top: 3.5em;
    margin-bottom: 0;
    background-color: #ccc;
    overflow-x: hidden;

    font-family: Arial, sans-serif;
}

h1
{
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    font-size: 48pt;
}

.card
{
    text-align: center;
    margin: 4em 0;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 15px black;
    width: 25em;
    height: 9em;
    overflow: hidden;
    position: relative;
    /*transition: transform .5s linear;*/

    /*animation-name: card-intro;*/
    /*animation-duration: 1s;*/
    /*animation-fill-mode: forwards;*/
    /*animation-iteration-count: 1;*/
}

@keyframes card-intro
{
    from
    {
        transform: translateY(-100%);
    }
    to
    {
        transform: translateY(0);
    }
}

.card::after
{
    content: " ";
    display: block;
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+53&0+0,1+86 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.62) 53%, rgba(255,255,255,1) 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.62) 53%,rgba(255,255,255,1) 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.62) 53%,rgba(255,255,255,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}

.card *
{
    padding: 0;
    margin: 0;
}

.card h4
{
    font-size: 32pt;
    margin-bottom: .5em;
    padding: 0;
}

.card p
{
    font-size: 16pt;
    color: #999;
    white-space: normal;
    max-width: 100%;
}

.card p a
{
    color: #666;
    text-decoration: none;
}

.card-shuffler
{
    position: relative;
    /*overflow: hidden;*/
    /*background-color: red;*/

    perspective: 2000px;
    perspective-origin: center;
}

.card-shuffler .card
{
    display: inline-block;
    position: absolute;
    white-space: nowrap;
}

#divider-debug
{
    height: 600px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 1px;
    background-color: black;
}

.panel
{
    background-color: white;
    box-shadow: 0 0 5px black;
    font-size: 12pt;
    padding: 1em;
    display: inline-block;
    line-height: 1.5em;
}

button
{
    font-size: 16pt;
}

.controls span
{
    float: left;
}

.controls input
{
    float: right;
}

.controls button
{
    width: 100%;
    margin-top: .6em;
}

.value-inputs
{
    float: right;
    margin-bottom: 1em;
}

.value-inputs *
{
    width: 100%;
}

.value-inputs textarea
{
    height: 8em;
    resize: vertical;
}